{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Employee</title>

    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

<div class="sidebar">
    <h2>IT Company</h2>

    <a href="/">Dashboard</a>
    <a href="/employees/" class="active">Employees</a>
    <a href="#">Projects</a>
    <a href="#">Tasks</a>
    <a href="#">Departments</a>
    <a href="#">Reports</a>
</div>

<main class="content">

    <div class="topbar">
        <div>
            <h1>Add Employee</h1>
            <p>Add a new employee to your company</p>
        </div>
    </div>

    <div class="employee-container">

        <h2>Employee Details</h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="add-btn">
                Save Employee
            </button>

            <a href="/employees/" class="cancel-btn">
                Cancel
            </a>

        </form>

    </div>

</main>

</body>
</html>